*{
    margin: 0;
    padding: 0;
}

body{
    background-color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button{
    padding: 7px 18px;
    border: none;
    background-color:aliceblue;
    color: burlywood;
    font-size: larger;
    cursor: pointer;
}

button:hover{
    background-color: burlywood;
    color: white;
    transition: 1s;
    border-radius: 0.5rem;
}

.header{
    text-align: center;
    padding: 3%;
    margin-top: 3%;
}

.header p{
    margin: auto;
    background-color:burlywood;
    width: 5px;
    height: 5px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 2rem;
}

.list{
    display: flex;
    align-items: center;
    margin: 0 40%;
}

.nav{
    margin: 0 3%;
}

.main-body{
    display: grid;
    gap: 5rem;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 10%;
}

.dish{
    display: flex;
    padding: 5%;
}

.dish img{
    width: 80%;
    max-width: 1500px;
    border: 5px burlywood solid;
    border-radius: 0.5rem;
    object-fit: cover;
}

.second-flex{
    /* padding-left: 5%; */
}

.second-flex p{
    margin-top: 10%;
    font-size: 15px;
    color: grey;
    width: 100%;
}

.third-flex{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px black dotted;
}

.third-flex h3{
    color: burlywood;
}
